spawn-at-startup "noctalia"
// spawn-at-startup "dbus-update-activation-environment" "--systemd" "DISPLAY" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "XDG_CURRENT_DESKTOP=GNOME"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "xwayland-satellite"