    prefer-no-csd
    screenshot-path null
    
    cursor {
        //xcursor-theme "capitaine-cursors"
        xcursor-size 32
    }

    blur {
        passes 2        // more passes = stronger blur (default: 3)
        offset 3.0      // sample distance per pass (default: 3.0)
        noise 0.03      // grain overlay (default: 0.02)
        saturation 1.0  // color saturation boost (default: 1.5)
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       //skip-at-startup
    }
